a:link {  font-family: tahoma; font-size: 10px; font-style: normal; color: #86BEF7}
a:active {  font-family: Tahoma; font-size: 10px; font-variant: normal; color: #2567BB}
a:visited {  font-family: Tahoma; font-size: 10px; color: #83C1F5}
